@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.aboutme {

  background-image: radial-gradient(#444cf7 0.7px, #F3F3F3 0.7px);
  background-size: 10px 10px;
}

@layer base {
  body {
    @apply bg-blurple;
  }
}