@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: radial-gradient(#646464 1px, #F3F3F3 0.8px);
  background-size: 25px 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}